<% @listings.each do |listing| %>
<tr class="listing">
<div class="col-md-4 portfolio-item">
  <% if listing.user.status == "active" %>
  <div class="listing <%= listing.id %>">

  </div>
  <img class="img-responsive" src= "<%= listing.images[0].image_url %>">
    <h3>
      <%= link_to listing.title, listing_path(listing)  %>
    </h3>
    <div class="ellipsis"><p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;"><%= listing.description %></p></div>
  </div>
  <% end %>
<% end %>
</tr>
