<h1>All Messages</h1>
<div class=”ui segment”>
 <h3>Mailbox</h3>
 <div class=”ui list”>
  <div class=”item”>
   <% @conversations.each do |conversation| %>
    <%= link_to conversation.recipient.first_name,
        conversation_messages_path(conversation)%>
   <% end %>
  </div>
 </div>
</div>
