<div class="wrapper">
<%= render partial: "shared/sidebar" %>
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-7">
                    <h1>Reservations</h1>
                    <div class="card">
                      <div class="content ">
                        <p>Reservation stuff</p>
                      </div>
                    </div>
                </div>
            </div>
    </div>
</div>
